<h2>
  <%= link_to 'Galleries', galleries_path %>
  &rarr;
  <%= @gallery.name %>
</h2>

<%- if @photos.any? -%>
  <%- @photos.each do |photo| -%>
    <p><%= link_to thumbnail_tag(photo), photo.url %></p>
  <%- end -%>
<%- else -%>
  <p>No photos found. Instructional video required.</p>
<%- end -%>
